* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
html,
body {
    background-color: #efefef;
}

/*导航页*/
nav {
    width: 100%;
    height: 50px;
    background-color: #ee7419;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav a:nth-of-type(1) {
    display: inline-block;
    font-size: 20px;
    margin: 10px 100px;
}
/*问卷*/
#contain {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(100,100,100,.1);
    border-radius: 10px;
}
/*问卷-标题*/
.titlebox {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.btn-back {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 40px;
    color: #000;
}
/*问卷-数据统计*/
.context {
    width: 95%;
    margin: 0px auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    min-height: 200px;
}
/*radiobox*/
.radiobox,
.checkbox,
.textbox {
    border: 1px solid #aaa;
    margin: 20px;
    padding: 10px;
}
.q-titlebox {
    font-weight: bold;
    display: flex;
}
.q-num {
    flex: .7;
}
.q-title {
    margin-left: 10px;
    flex: 20;
}
.datatitle {
    flex: 20;
}
.radiobox .barbox,
.textbox .barbox {
    display: flex;
}
.radiobox .barbox:nth-of-type(1) {
    visibility: hidden;
    margin-top: -20px;
}
.radiobox .bar-wraper,
.textbox .bar-wraper {
    height: 20px;
    flex: 1;
    margin-top: 3px;
}
.radiobox .bar:nth-of-type(1),
.textbox .bar:nth-of-type(1) {
    margin-top: 2px;
}
.radiobox .bar,
.textbox .bar {
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: #ee7419;
    vertical-align: top;
    max-width: 90%;    
}
.radiobox .percent,
.textbox .percent {
    color: #aaa;
    font-family: "微软雅黑";
}
.radiobox .s-name,
.textbox .s-name {
    margin-left: 32px;
    flex: 1;
}
/*piebox*/
.piebox {
    display: flex;
}
.piebox .s-name {
    margin-left: 30px;
}
.piebox .s-name:nth-of-type(1) {
    visibility: hidden;
}
.piebox .s-namelist {
    flex: 1;
}
.piebox .pie-wraper {
    flex: 1;
}
.piebox .pie {
    width: 200px;
    height: 200px;
}



.back {
    width: 80px;
    margin: 20px auto;
}
.back button {
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
}