* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
html,
body {
    background-color: #efefef;
}

/*导航页*/
nav {
    width: 100%;
    height: 50px;
    background-color: #ee7419;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav a:nth-of-type(1) {
    display: inline-block;
    font-size: 20px;
    margin: 10px 100px;
}
/*问卷*/
#contain {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(100,100,100,.1);
    border-radius: 10px;
}
.paperlist .listheader,
.paperlist .listitem {
    height: 50px;
    width: 100%;
    line-height: 40px;
    list-style: none;
    display: flex;
    position: relative;
    border-bottom: 1px solid #aaa;
}
.paperlist .listitem:hover {
    background-color: #fcf0e5;
}
.listheader > span {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    flex: 1;
}
.listheader > span:nth-of-type(1) {
    flex: 1.5;
}
.listheader a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #ee7419;
    height: 36px;
    border-radius: 5px;
    line-height: 35px;
    flex: 1;
}
.listitem > span {
    display: inline-block;
    text-align: center;
    flex: 1;
    line-height: 20px;
    margin-top: 15px;
}
.listitem > span:nth-of-type(1) {
    flex: 1.5;
    overflow: hidden;
}
.listitem .select {
    position: absolute;
    top: 18px;
}
.listitem .empty {
    flex: 1;
}
.btn-wraper {
    display: inline-block;
    flex: 1;
    display: flex;
}
.btn-wraper button,
.select-all .del-all {
    margin: 12px 2px;
    background-color: #aaa;
    outline: none;
    border: none;
    height: 30px;
    flex: 1;
    color: #fff;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.btn-wraper button:hover,
.select-all .del-all:hover {
    background-color: #ee7419;
}
.select-all {
    margin-top: 15px;
}
.select-all span {

    font-size: 18px;
    margin-right: 20px;
}
.select-all .del-all {
    width: 60px;
    height: 30px;
    border-radius: 10%;
    font-size: 16px;
    margin-left: 15px;
}

/*submitbox*/
.submitbox1,
.submitbox2 {
    display: none;
}
.submitbox1 .box,
.submitbox2 .box {
    background-color: #fff;
    width: 300px;
    height: 180px;
    position: fixed;
    margin-left: -150px;
    left: 50%;
    margin-top: -100px;
    top: 50%;
    box-shadow: 2px 2px 5px rgba(100,100,100,.3);
    border-radius: 8px;
    opacity: 1;
    z-index: 100;
}
.box .tip {
    background-color: #ee7419;
    color: #fff;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 8px 8px 0px 0px;
}
.box .submittext {
    font-size: 18px;
    margin: 20px 0px 50px 30px;
}
.box button {
    margin: 0px 5px;
    background-color: #aaa;
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    color: #fff;
}
.box button:hover {
    background-color: #ee7419;
}
.box .btn-submit {
    margin-left: 100px;
}
.submitbox1 .shadow,
.submitbox2 .shadow {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(100,100,100,.2);
    z-index: 99;
}
.active {
    display: block;
}